div.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: Min(90vw, 1000px);
  margin: auto;
  div.info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.3rem;
    margin: 21px 0;
  }
  div.controls {
    display: flex;
    width: Min(90%, 600px);
    justify-content: space-evenly;
  }
}
